
@keyframes select-hearts {
	0%  {background-position-y:120px;}
	100%{background-position-y:4080px;}	
}
@keyframes select-clubs {
	0%  {background-position-y:120px;}
	100%{background-position-y:3960px;}	
}
@keyframes select-spades {
	0%  {background-position-y:120px;}
	100%{background-position-y:4200px;}	
}
@keyframes select-diamond {
	0%  {background-position-y:120px;}
	100%{background-position-y:3840px;}	
}
@keyframes select-K{
	0%  {background-position-x:0px;}
	100%{background-position-x:3200px;}
}
@keyframes select-Q{
	0%  {background-position-x:0px;}
	100%{background-position-x:3280px;}
}
@keyframes select-J{
	0%  {background-position-x:0px;}
	100%{background-position-x:3360px;}
}
@keyframes select-10{
	0%  {background-position-x:0px;}
	100%{background-position-x:3440px;}
}
@keyframes select-9{
	0%  {background-position-x:0px;}
	100%{background-position-x:3520px;}
}
@keyframes select-8{
	0%  {background-position-x:0px;}
	100%{background-position-x:3600px;}
}
@keyframes select-7{
	0%  {background-position-x:0px;}
	100%{background-position-x:3680px;}
}
@keyframes select-6{
	0%  {background-position-x:0px;}
	100%{background-position-x:3760px;}
}
@keyframes select-5{
	0%  {background-position-x:0px;}
	100%{background-position-x:3840px;}
}
@keyframes select-4{
	0%  {background-position-x:0px;}
	100%{background-position-x:3920px;}
}
@keyframes select-3{
	0%  {background-position-x:0px;}
	100%{background-position-x:4000px;}
}
@keyframes select-2{
	0%  {background-position-x:0px;}
	100%{background-position-x:4080px;}
}
@keyframes select-1{
	0%  {background-position-x:0px;}
	100%{background-position-x:4160px;}
}

.cart{
	background-image: url(carts.png);
	width: 80px;
    height: 92px;
    margin: auto;
    border: solid 2px #000;
    border-radius: 10px;
    background-position: 0 120px;
}

.select-hearts{
	animation: select-hearts;
	animation-duration: 3s;
	background-position-y:4080px;
}
.select-clubs{
	animation: select-clubs;
	animation-duration: 3s;
	background-position-y:3960px;
}
.select-spades{
	animation: select-spades;
	animation-duration: 3s;
	background-position-y:4200px;
}
.select-diamond{
	animation: select-diamond;
	animation-duration: 3s;
	background-position-y:3840px;
}
.select-K{
	animation: select-K;
	animation-duration: 3s;
	background-position-x:3200px;
}
.select-Q{
	animation: select-Q;
	animation-duration: 3s;
	background-position-x:3280px;
}
.select-J{
	animation: select-J;
	animation-duration: 3s;
	background-position-x:3360px;
}
.select-10{
	animation: select-10;
	animation-duration: 3s;
	background-position-x:3440px;
}
.select-9{
	animation: select-9;
	animation-duration: 3s;
	background-position-x:3520px;
}
.select-8{
	animation: select-8;
	animation-duration: 3s;
	background-position-x:3600px;
}
.select-7{
	animation: select-7;
	animation-duration: 3s;
	background-position-x:3680px;
}
.select-6{
	animation: select-6;
	animation-duration: 3s;
	background-position-x:3760px;
}
.select-5{
	animation: select-5;
	animation-duration: 3s;
	background-position-x:3840px;
}
.select-4{
	animation: select-4;
	animation-duration: 3s;
	background-position-x:3920px;
}
.select-3{
	animation: select-3;
	animation-duration: 3s;
	background-position-x:4000px;
}
.select-2{
	animation: select-2;
	animation-duration: 3s;
	background-position-x:4080px;
}
.select-1{
	animation: select-1;
	animation-duration: 3s;
	background-position-x:4160px;
}

.tabcontent .runner, .runner div{
	padding-top: 5px;
	padding-bottom: 10px;
}

#runner .animal{
	width: 130px;
    height: 130px; 
}
.runners{
	display: flex;
	justify-content: center;
}
.runner{
	border:solid 1px black;
}
.animal.winner::after{
	content: " ";
    background: url(winner-icons.png);
    background-position: 56px 38px;
    background-size: 220px;
    width: 35px;
    height: 28px;
    display: block;
    position: relative;
    top: -158px;
    left: 91px;
}
.animal.loser::after{
	content: " ";
    background: url(loser.png);
    background-size: 220px;
    width: 189px;
    height: 109px;
    display: block;
    position: relative;
    top: -121px;
    left: -53px;
}

.runner .data {
	padding-top: 35px;
}
.animal::before{
    content: " ";
    background: url(animals.png);
    width: 130px;
    height: 130px;
    float: left;
}
.animal.fox::before{
	background-position-x: 130px;
}
.animal.chiken::before {
	background-position-x: 530px;
}
.animal.tiger::before {
	background-position-y: -190px;
	background-position-x: 135px;
}
.animal.pig::before {
	background-position-y: -190px;
	background-position-x: 530px;
}
.animal.crab::before {
	background-position-y: -375px;
	background-position-x: 530px;
}
.animal.hedgehog::before {
	background-position-y: -375px;
	background-position-x: 130px;
}

.gender {
	width: 159px;
	padding-top: 0px;
	margin: auto;
}
.gender::before{
	content:'';
	width: 75px;
    height: 75px;
    display: block;
    position: relative;
    left: 40px;
}

.male::before{
	background: url(man.png);
	background-size: contain;
}
.female::before{
	background: url(woman.png);
	background-size: contain;
}
